.article {
  font-family: MetronicforBlizzard, sans-serif;
  background-color: rgb(233, 233, 233);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px auto auto;
    grid-template-areas: 
    "a_p"
    "a_n"
    "a_r";
  }

.article_preview {
  grid-area: a_p;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

  .article img {
      width: 730px;
      height: 250px;
  }

  .article_name {
    grid-area: a_n;
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    padding-left: 24px;
    font-size: 20px;
    font-weight: 500;
  }

  .article_name:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 6px;
    width: 15px;
    height: 15px;
    background: #eb7027;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }


  .article_read {
    margin-top: 15px;
    margin-left: 40px;
    margin-bottom: 10px;
    padding-left: 14px;
    grid-area: a_r;
    border-top: solid 1px #dadada;
    padding-top: 5px;
    text-transform: uppercase;
    position: relative;
    font-size: 18px;
    color: #eb7027;
}

.article_read:hover {
    color: #6d3412;
}

.article_read:before {
  content: '';
  position: absolute;
  left: 5px;
  top: 6px;
  width: 3px;
  height: 20px;
  background: #eb7027;
}

