.slider {
    grid-area: s;
    background-image: url("https://cdn.discordapp.com/attachments/186521363400491008/659800412215443476/6db7db4b287e5923.png");
    background-size: cover;
    background-position: center;
    background-position: top;

    width: 100%;
}
