.admin {
    grid-area: admin;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
}

.authForm {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 20px;
}

.addPost {
    display: grid;
    grid-template-columns: 1fr;
}

.addArticle {
    display: grid;
    grid-template-columns: 1fr;
}