.articles {
    background-color: orange;
    grid-area: a;
    display: grid;
    padding: 20px;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr) );
  }

.articles_title {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: blue;
}