.article {
    background-color: gray;
    display: grid;
    grid-template-rows: 7fr 1fr 1fr;
  }

.article_preview {
    overflow: hidden;
}

  .article img {
      width: 730px;
      height: 250px;
  }