.header {
    background-color: green;
    grid-area: h;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: ". logo menu-top switcher addPost button.";
  }

  .logo {
    grid-area: logo;
  }
  
  .menu-top {
    grid-area: menu-top;
  }
  
  .switcher {
    grid-area: switcher;
  }
  
  .addPost{
    grid-area: addPost;
  }

  .button {
    grid-area: button;
  }