.wrapper {
  background-image: url(https://cdn.discordapp.com/attachments/420686416134144032/576053153229963289/main-bg-white.jpg);
  display: grid;
  grid-template-columns: 1fr minmax(500px, 1140px) 1fr;
  grid-template-rows: auto 400px auto;
  grid-template-areas: 
  "h h h"
  "s s s"
  ". m ."
  ". pa ."
  ". admin ."
  ". users .";
}

