.wrapper {
  background-image: url(https://cdn.discordapp.com/attachments/420686416134144032/576053153229963289/main-bg-white.jpg);
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 40px 400px 400px 1000px;
  grid-template-areas: 
  "h h h"
  "s s s"
  ". a ."
  ". n .";
}

